<p style="color: green"><%= notice %></p>

<div class="col">
  <h1>Peliculas</h1>
  <div style="text-align: center;">
  <%= link_to "Agregar pelicula", new_movie_path, style: "text-decoration: none;" %>
  </div>
  <div id="movies">
    <table class="table table-success table-striped">
      <thead>
        <tr>
        
         
          <th scope="col" colspan="30"></th>
        </tr>
      </thead>
      <tbody>
        <% @movies.each do |movie| %>
          <%= render movie %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
