<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Clientes</h1>
  <div style="text-align: center;">
  <%= link_to "Agregar cliente", new_client_path, style: "text-decoration: none;" %>
  </div>
  <div id="clients">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Pelicula</th>
          <th scope="col" colspan="30"></th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
